<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29525038810-u6fsr35e914jklef1b57dn475fksrg3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29525038810-u6fsr35e914jklef1b57dn475fksrg3l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>29525038810-ua7ba6vjsj78svufhli0qo6tf63g2oq5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCD_Hg4etmieNH9QVDe2F0kTAMI8s-GUt4</string>
	<key>GCM_SENDER_ID</key>
	<string>29525038810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stone.nfc</string>
	<key>PROJECT_ID</key>
	<string>e-stone2</string>
	<key>STORAGE_BUCKET</key>
	<string>e-stone2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29525038810:ios:c3919da282061c1c88b7e3</string>
</dict>
</plist>